#shopify-section-header{  position: sticky;
  top: 0;  z-index: 999;

  .submenu{
    display: flex;
    position: absolute;  top: 100%;
    width: 100%;
    .cats{

      .selectable-cat{

      }
      .selected{

      }
    }
    .pic-cat{
      .img-item{

      }
    }
    .default-cat{
      .txt{

      }
      .img-item{

      }
    }
  }
}